@page
@model Who_What_Form_.Pages_Films.AddReviewModel

@{
    ViewData["Title"] = "Add Film Review";
}
<h1>Create</h1>

<h4>Movie Review</h4>
<hr />
<form method="post">
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="Review.FilmID" class="control-label"></label>
            <select asp-for="Review.FilmID" asp-items="Model.FilmsDropDown" class="form-select">
                <option value="">Choose...</option>
            </select>
            <span asp-validation-for="Review.FilmID" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="Review.Score" class="form-label"></label>
            <input asp-for="Review.Score" class="form-control">
            <span asp-validation-for="Review.Score" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="Review.ReviewText" class="form-label"></label>
            <textarea asp-for="Review.ReviewText" class="form-control"></textarea>
            <span asp-validation-for="Review.ReviewText" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}